h1= title
script(type="text/javascript")
  var socket = io.connect();
  socket.on('delitem', function (data) {
    $('.news_items li').each( function() {
      var i=$(this).attr('rel');
      if(data.indexOf( i ) != -1) {
        $(this).remove();
      }
    });
  });
if user_role=='admin'
  script(type="text/javascript")
    socket.on('news', function (data) {
      $.each( data, function(k, v) {  
        if(!v) { return true; }
        $('.news_items').append('<li rel="'+k+'"><input rel="'+k+'" type="checkbox"></input> '+v+'</li>');
      });
    });
    socket.on('newitem', function (data) {
        $('.news_items').append( $('<li rel="'+data[0]+'"><input rel="'+data[0]+'" type="checkbox"></input> '+data[1]+'</li>').hide().fadeIn(200));
    });
    $(document).ready( function() {
      $('.msg').keypress( function(e) {
        var code=e.which||e.keyCode;
        if(code==13) {
          socket.emit('newmsg', {msg:$(this).val()});
          $(this).val('');
        }
      } );
      $('a.remove_selected').click( function() {
        var collected=[];
        $('.news_items input[type="checkbox"]:checked').each( function() {
          var item=$(this);
          var i=item.attr('rel');
          collected.push(i);
        } );
        if(collected.length>0) {
          socket.emit('delmsg', collected);
        }
      } );
    });
  input.msg(type='text')
  p
    a.remove_selected(href="#") Remove Selected
else
  script(type="text/javascript")
    socket.on('news', function (data) {
      $.each( data, function(k, v) {  
        if(!v) { return true; }
        $('.news_items').append('<li rel="'+k+'">'+v+'</li>');
      });
    });
    socket.on('newitem', function (data) {
      $('.news_items').append($('<li rel="'+data[0]+'">'+data[1]+'</li>').hide().fadeIn(200));
    });
p Welcome to #{title}, here's a list of What's New:
ul.news_items
