h1= title
script(type="text/javascript")
  var socket = io.connect();
  var last_index=0;
  socket.on('delitem', function (data) {
    $('.news_items li').each( function() {
      var i=$(this).attr('rel');
      if(data.indexOf( i ) != -1) {
        $(this).remove();
      }
    });
  });
if user_role=='admin'
  script(type="text/javascript")
    socket.on('news', function (data) {
      $.each( data.items, function(i, ele) {  
        if(!ele) { return true; }
        $('.news_items').append('<li rel="'+last_index+'"><input rel="'+last_index+'" type="checkbox"></input> '+ele+'</li>');
        last_index++;
      });
    });
    socket.on('newitem', function (data) {
        $('.news_items').append('<li rel="'+last_index+'"><input rel="'+last_index+'" type="checkbox"></input> '+data.msg+'</li>');
        last_index++;
    });
    $(document).ready( function() {
      $('.msg').keypress( function(e) {
        var code=e.which||e.keyCode;
        if(code==13) {
          socket.emit('newmsg', {msg:$(this).val()});
          $(this).val('');
        }
      } );
      $('a.remove_selected').click( function() {
        var collected=[];
        $('.news_items input[type="checkbox"]:checked').each( function() {
          var item=$(this);
          var i=item.attr('rel');
          collected.push(i);
        } );
        if(collected.length>0) {
          socket.emit('delmsg', collected);
        }
      } );
    });
  input.msg
  a.remove_selected(href="#") Remove Selected
else
  script(type="text/javascript")
    socket.on('news', function (data) {
      $.each( data.items, function(i, ele) {  
        if(!ele) { return true; }
        $('.news_items').append('<li rel="'+last_index+'">'+ele+'</li>');
        last_index++;
      });
    });
    socket.on('newitem', function (data) {
      $('.news_items').append('<li rel="'+last_index+'">'+data.msg+'</li>');
        last_index++;
    });
p Welcome to #{title}, here's a list of What's New:
ul.news_items
