body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
ul.news_items {
  margin: 0;
  padding:0;
  list-style: none;
  float: left;
}
ul.news_items li {
  padding:0;
  margin:0;
  list-style: none;
}
